﻿@page "/"
@using DemoDeploiementVPS.Shared

<div>
	<h1>TaskyDesk</h1>
	<EditForm Model="@TodoCourant" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
		<label for="input-nom">Nom</label>
		<br />
		<InputText id="input-nom" class="form-control col-sm-8"  @bind-Value="@TodoCourant.Nom" placeholder="Entrer le nom de la tâche."></InputText>
		<br />
		<label for="input-description">Description</label>
		<br />
		<InputText id="input-description" class="form-control col-sm-8"  @bind-Value="@TodoCourant.Description" placeholder="Entrer la description de la tâche." />
		<br />
		<button type="submit" class="btn btn-primary">Ajouter</button>
	</EditForm>
	<div>
	 <table class="table mt-5">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Complété</th>
                </tr>
            </thead>
            <tbody>
				@foreach(Todo todo in Todos) {
					<tr>
                        <td>@todo.Nom</td>
                        <td>@todo.Description</td>
                        <td>@todo.Date</td>
                        <td>
							<input type="checkbox" checked="@todo.Complete" @onchange="@(() => CompleterTodo(todo.Id))">
						</td>
						<td>
							<button type="button" class="btn btn-danger ml-2" data-toggle="modal" data-target="#exampleModal" @onclick='() => SupprimerTodo(todo.Id)'>
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-trash-fill" viewBox="0 0 16 16">
									<path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 
									1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 
									0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
								</svg>
							</button>
						</td>
                    </tr>
				} 
            </tbody>
        </table>
	</div>
</div>